body {
  font-size: 16px;
  color: #fff;
  background-color: #333333;
  font-family: Arial, Helvetica, sans-serif ;
}

/** Header **/
#Header-Nav{
	background-color: #ccfff5;
	border-radius:0;
	border:0;
}
#Nav-brand>a {
    color: #000000;
    text-decoration: none;
    text-shadow: 1px 1px 1px #222;

}
#nav-list {
margin-top:10px;
}
#nav-list li {
	text-align: center;
}
#nav-list #new1 {
	background-color: #e0e0eb;
}
#nav-list #new2 {
	background-color: #ffd9b3;
}
#nav-list #new3 {
	background-color: #f2d9e6;
}
#nav-list span:hover{
	background-color: #000080;
}
#bs-example-navbar-collapse-1{
	font-size: 2.0em;
}
#new-super {
	margin-bottom: 50px;

}
#main-content div #new4  {
	background-color:#b3b3ff;
	color: #330000;
	text-align: left;
	padding: 5px;

}
#main-content div #new5  {
	background-color:#b3b3ff;
	color: #330000;
	text-align: left;
	padding: 5px;
}
#main-content div #new6  {
	background-color:#b3b3ff;
	color: #330000;
	text-align: left;
	padding: 5px;
}
.container{
	text-align: center;
	background-color: #666600;
}
/*#main-content div{
	background-color: #666600;
	border:1px;
	height:1700px;

}*/

/*@media (min-width: 1200px) {
.container{
	background-color: #666600;
	border:1px;
	margin:20px 20px;
}

}

@media (min-width: 768px) and (max-width: 1199px){
.container{
	background-color: #666600;
	border:1px;
	margin:20px 20px;
}
}*/


@media(min-width: 199px) and (max-width:767px) {
.container{
	background-color: #666600;
	border:1px;
	margin:20px 40px;
}

}

.container-fluid a {
	font-size: 5vw;
}
}

